@charset "UTF-8";

/*ヘッダーのレイアウト*/

.contents{
  font-family: "Mv Boli", "Meiryo UI", sans-serif;
    display: block;
    width: auto;
    height: 80px;
    background-color: darkblue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align:center;
    opacity: 0.8;
    margin: 0;
}



@media(max-width: 900px){

.contents{
    width: 1000px; 
}
    
}

.contents a{
    font-family: "Mv Boli", "Meiryo UI", sans-serif;
    color: azure;
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
    line-height: 80px;
}
