@charset "UTF-8";

/*ヘッダーのレイアウト*/
.contents{
  font-family: "Mv Boli", "Meiryo UI", sans-serif;
  display: block;
  width: auto;
  color: white;
  text-decoration: none;
  height: 80px;
  background-color: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.8;
  margin: 0;
}
.contents .menu{
  font-family: "My Boli", "Meiryo UI", sans-serif;
  display: none;
  margin: 0;
}
.menu-contents{
  display: none;
}

.contents > a{
  color: white;
  text-decoration: none;
  margin-left: 2%;
  margin-right: 2%;
  line-height: 80px;
}
@media ( max-width : 900px) {

  
  .contents {
    width: auto;
  }
  .contents > a{
    display: none;
  }
  .contents .menu {
    width: 96.34px;
    float: left;
    display: inline;
    color: white;
    line-height: 42px;
  }
  
  .menu-contents {
    color: white;
    left-margin: 10px;
    background-color: darkblue;
  }
  .hidden-menu{
    display: none;
  }
  .menu-contents a{
    color: white;
    text-decoration: none;
  }
}
