@charset "UTF-8";

/*トップページのレイアウト*/

body{
    margin: auto;
    background-color: #cafafc;
    width: auto;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1{

    font-size: 60px;   
}

.main-content{
    text-align: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

/* 写真を中央に寄せる */
.main-content .pic img{
    display: none;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.main-content p{
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 150%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
/* 赤字にするためのクラス */
.red{
    color: red;
    font-weight: bold;
}
.big{
    font-size: 150%;
}

.border-bottom{
    border-bottom: currentColor 1px solid;
}

.rishu{
    margin-bottom: 50px;
}
.shisen{
    position: relative;
  }
  
  .shisen img{
    width:100%;
    display: initial;
    position: absolute;
    left:0;
  
  }
  .shisen p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 700%;
    color:rgb(248, 247, 247);
    margin: 0;
    left:10%;
  }
  .shisen .first-align{
    top:80px;
  
  }
  .shisen .second-align{
    top:630px;
  
  }