@charset "UTF-8";

/*トップページのレイアウト*/

body{
    margin: auto;
    background-color: #cafafc;
    width: 1200px;
}

h1{
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 60px;   
}

img{
 border-radius:20px;   
}

.main-content{
    text-align: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

/* 写真を中央に寄せる */
.main-content .pic img{
    display: none;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.main-content p{
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
/* 赤字にするためのクラス */
.red{
    color: red;
    font-weight: bold;
}
.big{
    font-size: 150%;
}

.border-bottom{
    border-bottom: currentColor 1px solid;
}

@media ( max-width : 900px) {
    body{
        width:900px;
    }
}