@charset "UTF-8";

body{
  margin-bottom: 200px;
  background-color: #cafafc;
  width:1200px;
}
.main-content{
  margin:0; 
}
.top-content{
  text-align: center;
  height:600px;
  width:auto;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  margin:0;
  padding: 0;
}
.top-content .grades{
  display: flex;
  justify-content: center;
  cursor: default;
  
}
.top-content .grade{
  display: flex;
  justify-content: center;
  height: 100px;
  width:400px;
  font-size: 50px;
  background-color: #cafafc;
  outline: none;
  border: none;

}
.top-content .regend-grade{
  display: flex;
  justify-content: center;
  height: 100px;
  width:400px;
  font-size: 50px;
  background-color: #cafafc;
  outline: none;
  border: none;

}
button:focus{
  outline: 0; 
}

.top-content .selected-grade{
  width: auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.top-content .selected-grade .selected-header{
  margin-right: auto;
  margin-left: auto;
}

.top-content .selected-grade img{
  width: 400px;
  height: 300px;
}

.top-content .selected-grade h1{
  font-size: 100px;
  width: 300px;
  margin: 10px 0;
  text-align: center;
  line-height: 250px;
}

.main-content{
  text-align: center;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}


h2{
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 50px;
}
.player{
  position: relative;
  height: 570px;
  width: 30%;
  float: left;
  margin-right: 1.6%;
  margin-left: 1.6%;
}

.main-content img{
  position: absolute;
  top: 0;
  left: 60px;
  height: 300px;
  width: 300px;
  z-index: 2;
}

span{
  position: absolute;
  display: block;
  left: 60px;
  height: 50px;
  width: 300px;
  top: 250px;
  text-align: center;
  line-height: 50px;
  background-color: white;
  opacity: 0;
  z-index: 3;
}

.player p{
  position: absolute;
  background-color: white;
  width: 300px;
  text-align: center;
  font-size: 100%;
  top: 0;
  right: 0;
  left: 0;
  left: 60px;
  height: auto;
  opacity: 1;
  z-index: 1;
}
h3{
  margin-top: 50px;
  font-size: 40px;
}
li{
  font-size: 40px;
}


.history p{
  font-size: 30px;
}

.history .histories img{
  position: relative;
  width: 800px;
  height: 600px;
}
.last{
  margin-bottom: 100px;
}

.shisen{
  position: relative;
}

.shisen img{
  width:100%;
  display: initial;
  position: absolute;
  height:initial;
  left:0;
  z-index: 0;
}
.shisen p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 700%;
  color:rgb(248, 247, 247);
  margin: 0;
  left:10%;
}
.shisen .first-align{
  top:100px;

}
.shisen .second-align{
  top:630px;

}

.fifteen{
  height: 1286px;
}

.sixteen{
  height: 1866px;
}

.sixteen .players{
  height: 1184px;
}

.seventeen{
  height: 1248px;
}

.eighteen{
  height: 3026px;
}

.nineteen{
  height: 4766px;
}

.twenty{
  height: 4766px;
}
